@media screen and (max-width: $mobileSize) {
    .type-bike__icon-pulse{
        width: 35px;
        height: 12px;
        background-size: cover;
        position: relative;
        bottom: 7px;
        right: 11px;
    }
}
