.footer__range-container {
    position: absolute;
    bottom: 60px;
    right: 0;
    display: flex;
}
@media screen and (max-width: $tabletSizeB) {
    .footer__range-container{
      position: relative;
      bottom: 100px;
    }
}