.type-bike__arrow-container {
    display: flex;
    grid-area: arrows;
}
@media screen and (max-width: $tabletSizeB) {
    .type-bike__arrow-container{
        
        justify-content: center;
    }
}

