.intro__block-sticky {
    position: absolute;
    z-index: 2;
    min-width: 810px;
    min-height: 430px;
    top: 347px;
    right: 0;
}

@media screen and (max-width: $desktMinopeSize) {
    .intro__block-sticky {
        min-width: 660px;
        min-height: 300px;
        top: 450px;
    }
}
@media screen and (max-width: $tabletSizeB) {
    .intro__block-sticky{
        top: 700px;
        min-width: 460px;
    }
}

@media screen and (max-width: $tabletSize) {
    .intro__block-sticky{
        top: 400px;
        min-width: 300px;
    }
}
@media screen and (max-width: $mobileSize) {
    .intro__block-sticky {
        max-width: 284px;
        top: 300px;
        right: -40px;
    }
}