.intro__block-sticky {
    position: absolute;
    z-index: 2;
    min-width: 810px;
    min-height: 430px;
    top: 347px;
    right: 0;
}

@media screen and (max-width: $desktMinopeSize) {
    .intro__block-sticky {
        min-width: 660px;
        min-height: 300px;
        top: 450px;
    }
}