.bicycles__type-link {
    text-decoration: none;
    font-family: $fontMain;
    opacity: 0.7;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bicycles__type-link:hover {
    opacity: 0.6;
}