.bicycles__type-link {
    color: $colorText;
    text-decoration: none;
    font-family: $fontMain;
    opacity: 0.7;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.bicycles__type-link:hover {
    opacity: 0.6;
}