.footer__btn-inform {
    position: relative;
    right: 40px;
    background-color: transparent;
    border: none;
    font-family: $fontMain;
    font-size: 13px;
    line-height: 28px;
    font-weight: 500;
    cursor: pointer;
}