.ride {
    display: flex;
    padding: 120px 0px 60px 0px;
    @include field
}
@media screen and (max-width: $tabletSizeB) {
    .ride{
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;
        align-items: center;
    }
}