.type-bike__container-picture {
    position: relative;
    display: flex;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
    overflow: hidden;
}
@media screen and (max-width: $tabletSizeB) {
    .type-bike__container-picture{
     justify-content: center;
    }
}