.intro__text-box {
    grid-area: text;
    display: flex;
    margin-top: -60px;
}

@media screen and (max-width: $tabletSizeB) {
    .intro__text-box {
        justify-content: center;
        padding-top: 40px;
        margin: 0;
    }
}