.swith-theme {
    position: absolute;
    bottom: 60px;
    right: 0;
    display: flex;
}

@media screen and (max-width: $tabletSizeB) {
    .swith-theme {
        position: relative;
        bottom: 100px;
    }
}