        .header__container-menu {
            display: flex;
            justify-content: flex-end;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 8;
            background-color: #F4F4F4;
            min-height: 74px;
            width: 100%;
            padding-right: $marginDesktopR;
        }
        @media screen and (max-width: $desktMinopeSize) {
            header__container-menu {
                padding-right: $marginDesktopMinR;
            }
        }
        @media screen and (max-width: $tabletSize) {
            .header__container-menu {
                padding-right: 0;
                position: absolute;
                top: -100%;
                right: 0;
                width: 100vw;
                height: 100vh;
                z-index: 5;
                background-color: #F4F4F4;
                gap: 30px;
                transition: 2s top;
                align-items: flex-end;
                flex-direction: column;
            }
        }