$fontMain: Inter;
$colorText:#151515;
$opacityLink: 0.75;
$colorSubtitle: black;
$colorfooter:#CFCFCF;
$ColorTextWhite:#FFFFFF;
//margin
$marginDesktopL: 120px;
$marginDesktopR: 120px;
$marginDesktopMinR: 60px;
$marginDesktopMinL: 60px;
$marginTabletL: 25px;
$marginTabletR: 25px;
$marginMobileL: 18px;
$marginMobileR: 18px;
//size screen
$desktMinopeSize: 1280px;
$tabletSizeB: 1024px;
$tabletSize: 720px;
$mobileSize: 460px;