.type-bike__form-icon {
    background-image: url('/images/icon/pulse-background.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-left: 16px;
    padding-top: 12px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 16px;
}