.training {
    display: flex;
    padding-top: 90px;
    gap: 160px;
    @include field;
    padding-bottom: 120px;
}

@media screen and (max-width: $desktMinopeSize) {
    .training {
        gap: 0;
        justify-content: space-between;
    }
}