@charset "UTF-8";
@import './fonts/inter/inter.css';
.root {
  margin: auto;
  padding: 0;
  max-width: 1440px;
  background-color: #F4F4F4;
  color: #151515;
}
.root a {
  color: #151515;
}

.root__theme_dark {
  background-color: #2F2F2F;
  color: white;
}
.root__theme_dark a {
  color: white;
}

.header {
  margin-left: 120px;
  margin-right: 120px;
  padding: 28px 0;
}

.header__list-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
}

.header__link {
  font-family: Inter;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.header__link:nth-child(2) {
  margin: 0 34px;
}

.header__link:hover {
  opacity: 0.75;
}

.title {
  margin-top: 60px;
  margin-bottom: 50px;
  font-family: Inter;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
}

.subtitle {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  max-width: 460px;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  box-sizing: border-box;
  padding-top: 20px;
  position: relative;
}

@keyframes loadingColor {
  0% {
    background: linear-gradient(90deg, #319e75 0%, #24b47e 0%);
  }
  15% {
    background: linear-gradient(90deg, #319e75 0%, #24b47e 15%);
  }
  55% {
    background: linear-gradient(90deg, #319e75 0%, #24b47e 55%);
  }
  100% {
    background: linear-gradient(90deg, #319e75 0%, #24b47e 100%);
  }
}
.intro__detail-button {
  max-width: 180px;
  min-height: 50px;
  color: white;
  background: linear-gradient(90deg, #319e75 0%, #24b47e 0%);
  border-radius: 4px;
  border: none;
  font-family: Inter;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 167px;
  cursor: pointer;
}

.intro__detail-button:hover {
  animation: loadingColor 10s;
}

.intro__picture {
  max-width: 610px;
  max-height: 836px;
  margin: 0;
}

.intro__text-bike {
  margin-right: 30px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.intro__text-container {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.intro__container-line {
  display: flex;
  justify-content: flex-start;
}

.intro__line {
  width: 132px;
  height: 2px;
  background-color: #D7D4D4;
  border: none;
  align-self: center;
  margin: 0;
}

.intro__block-sticky {
  position: absolute;
  z-index: 2;
  min-width: 810px;
  min-height: 430px;
  top: 347px;
  right: 0;
}

.intro__siticky-picture {
  position: sticky;
  top: 0;
  padding: 20px 50px 20px 50px;
  background-color: #F4F4F4;
  border-radius: 20px;
}

.ride {
  display: flex;
  padding: 120px 120px 60px 120px;
  margin: 0;
}

.ride__busy {
  opacity: 0.7;
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
}

.ride__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin: 262px 0 5px 0;
}

.ride__title {
  margin: 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
}

.ride__container-text {
  padding-left: 80px;
}

.ride__picture {
  min-width: 650px;
  max-height: 460px;
}

.type-bike {
  margin-left: 120px;
  margin-right: 120px;
}

.type-bike__button {
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #EBEBEB;
  cursor: pointer;
  padding: 0;
}

.type-bike__button:first-of-type {
  margin-right: 20px;
}

.type-bike__container-picture {
  position: relative;
  display: flex;
  gap: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.type-bike__form-icon {
  background-image: url("/images/icon/pulse-background.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-left: 16px;
  padding-top: 12px;
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 16px;
}

.type-bike__picture {
  max-width: 650px;
}

.bicycles {
  margin-left: 120px;
  margin-right: 120px;
}

.bicycles__block-top {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.bicycles__card-picture {
  max-width: 340px;
  min-height: 340px;
  align-self: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #F4F4F4;
}

.bicycles__card-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin: 22px 0 0 20px;
  text-decoration: none;
}

.bicycles__card-text:hover {
  opacity: 0.75;
}

.bicycles__card {
  min-width: 380px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding-bottom: 60px;
}

.bicycles__cards-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.bicycles__type-link {
  text-decoration: none;
  font-family: Inter;
  opacity: 0.7;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.bicycles__type-link:hover {
  opacity: 0.6;
}

.bicycles__type-lists {
  display: flex;
  list-style-type: none;
  margin: 0;
  gap: 40px;
  margin-top: 92px;
}

.training {
  display: flex;
  padding-top: 90px;
  gap: 160px;
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 120px;
}

.training__link {
  text-decoration: none;
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.training__link:hover {
  opacity: 0.6;
}

.training__links {
  margin-top: 182px;
  display: flex;
  gap: 30px;
}

.training__picture {
  margin-top: 60px;
  max-width: 580px;
  max-height: 460px;
}

.footer {
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
}

.footer__copyright {
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #CFCFCF;
}

.footer__form {
  margin-bottom: 100px;
  min-width: 360px;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  box-sizing: border-box;
  padding: 11px 0 11px 20px;
  font-family: Inter;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  cursor: pointer;
}

.footer__form::placeholder {
  color: #151515;
  font-weight: 500;
  font-size: 13px;
  opacity: 0.7;
}

.footer__form:focus {
  outline: 0;
  outline-offset: 0;
}

.footer__form:hover::placeholder {
  opacity: 1;
}

.footer__form:focus::placeholder {
  color: transparent;
}

.footer__icon-moon {
  margin-left: 22px;
}

.footer__icon-sun {
  margin-right: 22px;
}

.footer__range-container {
  position: absolute;
  bottom: 60px;
  right: 0;
  display: flex;
}

.footer__title {
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  max-width: 229px;
  margin-bottom: 50px;
}

.footer__swith-button {
  width: 44px;
  /* ширина переключателя */
  height: 24px;
  /* высота переключателя */
  border-radius: 19px;
  /* радиус скругления */
  background: #FFFFFF;
  /* цвет фона */
  z-index: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  /* анимация */
}

.footer__swith-button::after {
  content: "";
  height: 20px;
  /* высота кнопки */
  width: 20px;
  /* ширина кнопки */
  border-radius: 18px;
  /* радиус кнопки */
  background: #24B47E;
  /* цвет кнопки */
  top: 2px;
  /* положение кнопки по вертикали относительно основы */
  left: 3px;
  /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms;
  /* анимация */
  position: absolute;
  z-index: 1;
}

.footer__swith-button_active {
  background: #545454;
}

.footer__swith-button_active::after {
  left: 22px;
}

.footer__btn-inform {
  position: relative;
  right: 40px;
  background-color: transparent;
  border: none;
  font-family: Inter;
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */