.intro__title-box {
    grid-area: title;
    display: flex;
    flex-direction: column;
    max-height: 120px;
}
@media screen and (max-width: $tabletSizeB) {
    .intro__title-box {
        justify-content: center;
        padding-bottom: 40px;
        align-items: center;
    }
}
@media screen and (max-width: $mobileSize) {
    .intro__title-box {
        justify-content: center;
        padding-right: 94px;
    }
}